* {
    box-sizing: border-box;
}

body {
    background-color: #1a237e;
    color: #e8eaf6;
}

textarea, code {
    font-family: "Source Code Pro Light", monospace;
    font-size: 1em;
}

textarea {
    border: #7986cb 1px dashed;
    background-color: #1a237e;
    color: #e8eaf6;
    padding: 1em;    
}

textarea:focus {
    background-color: #3949ab;
}

code {
    font-size: 0.9em;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 3em;
}

p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.3em;
}
    

h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.2em;
    font-weight: 300;
}

#header-text {
    width: 50%;
    margin: 3em;
}

#outer-form-area {
    height: 30em;
    margin-top: 5em;
}

#input-group {
    padding: 3em;
    border-right: #7986cb 1px solid;
    float: left;
    display: inline-block;
    height: 100%;
    width: 30%;
}

#input-group h3 {
    width: 100%;
    text-align: center;
}

#input-group textarea {
    width: 100%;
    float: left;
}

#btn-group {
    height: 100%;
    width: 40%;
    float: left;
    padding: 3em;
    border-right: #7986cb 1px solid;
}

#btn-group h3 {
    width: 100%;
    text-align: center;
}

#btn-list {
    width: 100%;
}
    
#btn-list button {
    width: 4em;
    height: 4em;
    display: inline-block;
    background-color: #1a237e;
    font-family: "Source Sans Pro Light", sans-serif;
    font-size: 1.3em;
    color: #e8eaf6;
    border-style: none;
}

#btn-list button:hover {
    background-color: #e8eaf6;
    color: #1a237e;
}

#btn-list button:active {
    background-color: #9fa8da;
}

#output-group {
    float: left;
    padding: 3em;
    height: 100%;
    width: 30%;
}

#output-group * {
    width: 100%;
}

#output-group h3 {
    text-align: center;
}
